$white: #ffffff !default;
$black: #000000;
$header_bg: #1C1E22;
$tuna: #353a40;
$armadillo: #16171b;
$color_input_plain: $tuna;
$color_input_focus: #1a1c1f;
$purple_10:#D100FF;
$light_pink:#EE9F93;
$grey_blue_95: #f2f5f6;
$grey_blue_90: #d8dee2;
$grey_blue_80: #c5cfd5;
$grey_blue_70: #aab9c1;
$grey_blue_60: #99abb5;
$grey_blue_primary: #8096a3 !default;
$grey_blue_40: #748994;
$grey_blue_30: #5b6b74;
$grey_blue_20: #46535a;
$grey_blue_10: #363f44;
$columbia_blue_10: #9FDAFF;
$deep_sky_blue: #00DEFF;
$blue_95: #e6f3fa;
$blue_90: #b0daf0;
$blue_80: #8ac8e8;
$blue_70: #54afde;
$blue_65: #00a7d2;
$blue_60: #33a0d7;
$blue_primary: #0088cd !default;
$blue_40: #007cbb;
$blue_30: #006192;
$blue_20: #004b71;
$blue_10: #003956;
$yellow_50: #F9D15C;
$carrot_orange_50: #FB8B24;
$orange_100: #FF8F5C;
$orange_95: #fdf2e6;
$orange_90: #f8d8b0;
$orange_80: #f4c58a;
$orange_70: #f0aa54;
$orange_60: #ed9933;
$orange_primary: #e88000 !default;
$orange_40: #d37400;
$orange_30: #a55b00;
$orange_20: #804600;
$orange_10: #613600;
$dark_red_10: #FD4659;
$apple_50: #F3BAFF;
$red_95: #fbe9ea;
$red_90: #f3bbbf;
$red_80: #ed9ba0;
$red_70: #e56d75;
$red_60: #e0515a;
$red_primary: #d82531 !default;
$red_40: #c5222d;
$red_30: #991a23;
$red_20: #77141b;
$red_10: #5b1015;
$second_light_green: #B4DAA9;
$green_95: #f1f8ea;
$green_90: #d3e8be;
$green_80: #bddd9e;
$green_70: #9fcd72;
$green_60: #8dc356;
$green_primary: #70b42c !default;
$green_40: #66a428;
$green_30: #50801f;
$green_20: #3e6318;
$green_10: #2f4c12;
$dark_green_10: #18B849;
$persian_green_80: #b5d4bb;
$persian_green_10: #00A49D;
$grey_95: #e9e9e9;
$grey_90: #bbbaba;
$grey_80: #9a9898;
$grey_70: #6c696a;
$grey_60: #4f4c4d;
$grey_primary: #231f20 !default;
$grey_40: #201c1d;
$grey_30: #191617;
$grey_20: #131112;
$grey_10: #0f0d0d;
$blue_dark_2: #282F38;
$blue_dark_3: #1F2328;
$blue_dark_4: #202428;
$blue_dark_5: #131314;
$blue_dark_6: #24272d;
$yellow: #FFD600;