:root{
  font-size: 16px;
}
$heading_h1: 2em;
$heading_h2: 1.7144em;
$heading_h3: 1.5em;
$heading_h4: 1.25em;
$heading_h5: 1.25em;
$heading_h6: 1.125em;
$body_1: 1.125em;
$body_2: 1em;
$paragraph_1: 0.875em;
$label_sm: 0.75em;

$fix_size_24: 24px;
$fix_size_20: 20px;
$fix_size_18: 18px;
$fix_size_16: 16px;
$fix_size_14: 14px;
